<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939369568883-ltqh9snr18kku7cn38i27j07ast01rsi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939369568883-ltqh9snr18kku7cn38i27j07ast01rsi</string>
	<key>API_KEY</key>
	<string>AIzaSyD5p0930dKFyus6zxOSlh8JqvzJQLsI18o</string>
	<key>GCM_SENDER_ID</key>
	<string>939369568883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uin.CoockS</string>
	<key>PROJECT_ID</key>
	<string>coockuersongs</string>
	<key>STORAGE_BUCKET</key>
	<string>coockuersongs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939369568883:ios:caf3c43efba83b5b092806</string>
</dict>
</plist>